body {
  background-color: rgb(13, 201, 138);
}
.container {
  font-family: sans-serif;
  text-align: center;
}

h2 {
  font-weight: 600;
  color: blue;
}
button {
  padding: 20px;
  margin: 10px;
  font-weight: 500;
  font-size: 20px;
  background-color: tomato;
}
span {
  font-size: 25px;
}
